{% extends 'base.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}
    <p><h2>Please provide user data</h2></p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}