{% extends 'base.html.twig' %}

{% block title %}Login User{% endblock %}

{% block body %}
    <p><h2>Login User</h2></p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}