<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    {% block body %}Welcome!{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>